{% extends "base.html" %}
{% load static %}
{% load form_tags %}
{% block title %}My Book Shop - 購入手続き{% endblock title %}

{% block main %}
<div class="container">
  <main>
    <div class="py-5 text-center">
      <h2>購入手続き画面</h2>
    </div>

    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">カート情報</span>
          <span class="badge bg-primary rounded-pill">{{cart_count}}</span>
        </h4>
        <ul class="list-group mb-3">
          {% for cart in carts %}
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">{{cart.name}}</h6>
              <small class="text-body-secondary">{{cart.description|truncate_words:10}}</small>
            </div>
            <div class="d-flex align-items-center gap-2">
              <span class="text-body-secondary">{{cart.quantity}}点</span>
              <span class="text-body-secondary">{{cart.sub_total}}円</span>
              <span><a class="btn btn-outline-dark flex-shrink-0 mx-2" href="{% url "cart-delete" cart.id %}">削除</a></span>
            </div>
          </li>
          {% endfor %}
          {% if promotion_code %}
          <li class="list-group-item d-flex justify-content-between bg-body-tertiary">
            <div class="text-success">
              <h6 class="my-0">プロモーションコード</h6>
              <small>{{promotion_code.code}}</small>
            </div>
            <span class="text-success">-{{promotion_code.discount}}円</span>
          </li>
          {% endif %}
          <li class="list-group-item d-flex justify-content-between">
            <span>合計</span>
            <strong>{{total}}円</strong>
          </li>
        </ul>

        <form class="card p-2" method="post" action="{% url "cart-promotion" %}">
          {% csrf_token %}
          <div class="input-group">
            <input type="text" class="form-control" name="promotion_code" id="promotion_code" placeholder="Promo code">
            <button type="submit" class="btn btn-secondary">適用</button>
          </div>
        </form>
      </div>
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">請求先住所</h4>
        <form novalidate method="post" action="{% url "cart-checkout" %}">
          {% csrf_token %}
          <div class="invalid-feedback">{{form.non_field_errors}}</div>
          <div class="alert-container">
            {% for message in messages %}
              <div class="alert alert-success" role="alert">
                {{message}}
              </div>
            {% endfor %}
          </div>
          <div class="row g-3">

            <div class="col-sm-6">
              <label for="lastName" class="form-label">姓</label>
              <input type="text" class="form-control" id="last_name" name="last_name" value="{{form.last_name.value}}">
              <div class="invalid-feedback">{{form.last_name.errors}}</div>
            </div>

            <div class="col-sm-6">
              <label for="firstName" class="form-label">名</label>
              <input type="text" class="form-control" id="first_name" name="first_name" value="{{form.first_name.value}}">
              <div class="invalid-feedback">{{form.first_name.errors}}</div>
            </div>

            <div class="col-12">
              <label for="username" class="form-label">ユーザー名</label>
              <div class="input-group has-validation">
                <span class="input-group-text">@</span>
                <input type="text" class="form-control" id="user_name" name="user_name" value="{{form.user_name.value}}">
                <div class="invalid-feedback">{{form.user_name.errors}}</div>
              </div>
            </div>

            <div class="col-12">
              <label for="email" class="form-label">メールアドレス</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com" value="{{form.email.value}}">
              <div class="invalid-feedback">{{form.email.errors}}</div>
            </div>

            <div class="col-md-4">
              <label for="zip" class="form-label">郵便番号</label>
              <input type="text" class="form-control" id="zip" name="zip" value="{{form.zip.value}}">
              <div class="invalid-feedback">{{form.zip.errors}}</div>
            </div>

            <div class="col-md-4">
              <label for="state" class="form-label">都道府県</label>
              <select class="form-select" id="state" id="prefecture" name="prefecture">
                {% for prefecture in prefectures %}
                  <option value="{{prefecture.id}}" {% if prefecture.id == selected_prefecture %}selected{% endif %}>{{prefecture.name}}</option>
                {% endfor %}
              </select>
              <div class="invalid-feedback">{{form.prefecture.errors}}</div>
            </div>

            <div class="col-12">
              <label for="address" class="form-label">住所</label>
              <input type="text" class="form-control" placeholder="〇〇区〇〇 1-2-3" id="address" name="address" required value="{{form.address.value}}">
              <div class="invalid-feedback">{{form.address.errors}}</div>
            </div>

            <div class="col-12">
              <label for="address2" class="form-label">建物名 <span class="text-body-secondary">(任意)</span></label>
              <input type="text" class="form-control" placeholder="建物名・部屋番号" id="address2" name="address2" value="{{form.address2.value}}">
              <div class="invalid-feedback">{{form.address2.errors}}</div>
            </div>
          </div>

          <hr class="my-4">

          <h4 class="mb-3">支払い方法</h4>

          <div class="row gy-3">
            <div class="col-md-6">
              <label for="cc-name" class="form-label">カード名義人</label>
              <input type="text" class="form-control"  id="credit_name" name="credit_name" value="{{form.credit_name.value}}">
              <small class="text-body-secondary">カードに表示されるフルネーム</small>
              <div class="invalid-feedback">{{form.credit_name.errors}}</div>
            </div>

            <div class="col-md-6">
              <label for="cc-number" class="form-label">クレジットカード番号</label>
              <input type="text" class="form-control" id="credit_number" name="credit_number" value="{{form.credit_number.value}}">
              <div class="invalid-feedback">{{form.credit_number.errors}}</div>
            </div>

            <div class="col-md-3">
              <label for="cc-expiration" class="form-label">有効期限（月／年）</label>
              <div class="d-flex">
                <div class="me-2">
                  <input type="text" class="form-control" placeholder="MM" id="expiration_month" name="expiration_month" value="{{form.expiration_month.value}}">
                  <div class="invalid-feedback">{{form.expiration_month.errors}}</div>
                </div>
                <div>
                  <input type="text" class="form-control" placeholder="YYYY" id="expiration_year" name="expiration_year" value="{{form.expiration_year.value}}">
                  <div class="invalid-feedback">{{form.expiration_year.errors}}</div>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <label for="cc-cvv" class="form-label">CVV</label>
              <input type="text" class="form-control" id="credit_cvv" name="credit_cvv" value="{{form.credit_cvv.value}}">
              <div class="invalid-feedback">{{form.credit_cvv.errors}}</div>
            </div>
          </div>

          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg mb-4" type="submit">購入</button>
        </form>
      </div>
    </div>
{% endblock %}