{% extends "base.html" %}
{% load static %}
{% block title %}My Book Shop - 商品詳細{% endblock title %}

{% block main %}
<!-- Product section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6">
        <img
          class="card-img-top mb-5 mb-md-0"
          src="{{product.image.url}}"
          alt="..."
        />
      </div>
      <div class="col-md-6">
        <h1 class="display-5 fw-bolder">{{product.name}}</h1>
        <div class="fs-5 mb-5">
          {% if 0 < product.discount_rate %}
          <span class="text-decoration-line-through">¥{{ product.price }}</span>
          <span>¥{{ product.discount_price }}</span>
          {% else %}
          <span>¥{{ product.price }}</span>
          {% endif %}
        </div>
        <p class="lead">
          {{product.description}}
        </p>
        <div class="d-flex">
          <input
            class="form-control text-center me-3"
            id="inputQuantity"
            type="number"
            value={% if product.stock == 0 %}"0"{% else %}"1"{% endif %}
            min="0"
            max="{{product.stock}}"
            style="max-width: 4rem"
          />
          <button class="btn btn-outline-dark flex-shrink-0" type="button" {% if product.stock == 0 %}disabled{% endif %}>
            <i class="bi-cart-fill me-1"></i>
            {% if product.stock == 0 %}Sold Out{% else %}Add to cart{% endif %}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Related items section-->
<section class="py-5 bg-light">
  <div class="container px-4 px-lg-5 mt-5">
    <h2 class="fw-bolder mb-4">Related products</h2>
    <div
      class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
    >
    {% for item in related_products %}
    {% include "components/item_box.html" %}
    {% endfor %}
    </div>
  </div>
</section>
{% endblock main %}
