{% extends "base.html" %}
{% load static %}
{% block title %}{{title}}{%endblock title %}

{% block main %}
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    {% if messages %}
    <div class="alert-container">
      {% for message in messages %}
        <div class="alert alert-success" role="alert">
          {{message}}
        </div>
      {% endfor %}
    </div>
    {% endif %}
    <div
      class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
    >
      {% for item in products %}
      {% if not item.is_deleted %}
      {% include "components/item_box.html" %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
{% endblock main %}
