
<div class="col mb-5">
  <div class="card h-100">
    <!-- Sale badge-->
    {% if 0 < item.discount_rate %}
    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
    {% endif %}
    <!-- Product image-->
    <img class="card-img-top" style="width: 100%; height: 100%; object-fit: contain;" src="{{ item.image.url }}"/>

    <!-- Product details-->
    <div class="card-body p-4">
      <div class="text-center">
        <!-- Product name-->
        <h5 class="fw-bolder">
          {% if request.path == '/admin/products/' %}
          {{item.name}}
          {% else %}
          <a class="text-secondary" href="{% url "product" item.id %}">{{item.name}}</a>
          {% endif %}
        </h5>
        <!-- Product reviews-->
        <div class="d-flex justify-content-center small text-warning mb-2">
          <div class="bi-star-fill"></div>
          <div class="bi-star-fill"></div>
          <div class="bi-star-fill"></div>
          <div class="bi-star-fill"></div>
          <div class="bi-star-fill"></div>
        </div>

        {% if 0 < item.discount_rate %}
        <span class="text-muted text-decoration-line-through">¥{{ item.price }}</span>
        ¥{{ item.discount_price }}
        {% else %}
        ¥{{ item.price }}
        {% endif %}
      </div>
    </div>

    <!-- Product actions-->
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
      <div class="text-center">
        {% if request.path == '/admin/products/' %}
        <button class="btn btn-outline-dark flex-shrink-0" type="button">Edit</button>
        <button class="btn btn-outline-dark flex-shrink-0" type="button">Delete</button>
        {% else %}
        <button class="btn btn-outline-dark flex-shrink-0" type="button" {% if item.stock == 0 %}disabled{% endif %}>
        {% if item.stock == 0 %}Sold Out{% else %}Add to cart{% endif %}
        </button>
        {% endif %}
      </div>
    </div>
  </div>
</div>