{% load static %}
<div class="col mb-5">
  <div class="card h-100">
    <!-- Sale badge-->
    {% if 0 < item.discount_rate %}
    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
    {% endif %}
    <!-- Product image-->
    <img class="card-img-top" style="width: 100%; height: 100%; object-fit: contain;"
    src="{% if item.image %}{{ item.image.url }}{% else %}{% static 'image/default.jpeg' %}{% endif %}" />

    <!-- Product details-->
    <div class="card-body p-4">
      <div class="text-center">
        <!-- Product name-->
        <h5 class="fw-bolder">
          {% if request.path == '/admin/products/' %}
          {{item.name}}
          {% else %}
          <a class="text-secondary" href="{% url "product" item.id %}">{{item.name}}</a>
          {% endif %}
        </h5>

        {% if 0 < item.discount_rate %}
        <span class="text-muted text-decoration-line-through">¥{{ item.price }}</span>
        ¥{{ item.discount_price }}
        {% else %}
        ¥{{ item.price }}
        {% endif %}
      </div>
    </div>

    <!-- Product actions-->
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
      <div class="text-center d-flex justify-content-center">
        {% if request.path == '/admin/products/' %}
        <a class="btn btn-outline-dark flex-shrink-0 mx-2" href="{% url "admin-update-product" item.pk %}">編集</a>
        <a class="btn btn-outline-dark flex-shrink-0 mx-2" href="{% url "admin-delete-product" item.pk %}">削除</a>
        {% else %}
        <form action="{% url "cart-add" %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="id" value="{{item.pk}}">
          <input type="hidden" name="quantity" value="1">
          <button class="btn btn-outline-dark flex-shrink-0" type="submit" {% if item.stock == 0 %}disabled{% endif %}>
          {% if item.stock == 0 %}
          Sold Out
          {% else %}
          Add to cart
          {% endif %}
          </button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>