
<div class="col mb-5">
  <div class="card h-100">
    <!-- Sale badge-->
    {% if 0 < product.discount_rate %}
    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
    {% endif %}
    <!-- Product image-->
    <img class="card-img-top" src="{{ item.image.url }}"/>

    <!-- Product details-->
    <div class="card-body p-4">
      <div class="text-center">
        <!-- Product name-->
        <h5 class="fw-bolder"><a class="text-secondary" href="{% url "product" item.id %}"> {{item.name}}</a></h5>
        <!-- Product reviews-->
        <div class="d-flex justify-content-center small text-warning mb-2">
          <div class="bi-star-fill"></div>
          <div class="bi-star-fill"></div>
          <div class="bi-star-fill"></div>
          <div class="bi-star-fill"></div>
          <div class="bi-star-fill"></div>
        </div>

        {% if 0 < item.discount_rate %}
        <span class="text-muted text-decoration-line-through">¥{{ item.price }}</span>
        ¥{{ item.discount_price }}
        {% else %}
        ¥{{ item.price }}
        {% endif %}
      </div>
    </div>

    <!-- Product actions-->
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
      <div class="text-center">
        <a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a>
      </div>
    </div>
  </div>
</div>